.article-card {
    display: flex;
    padding: 24px 0;
}

.article-card .responsive-img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.article-card .figure {
    margin-right: 16px;
    min-height: 100%;
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
    flex-shrink: 0;
}

.article-properties {
    margin-left: 16px;
}

.article-title {
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    margin-bottom: 15px;
}

.article-summary {
    height: 70px;
    overflow: hidden;
    margin-bottom: 24px;
}

.read-more {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3670d2;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .article-card{
        display: block;
    }
    .article-card .figure{
        width: 100%;
        margin-bottom: 12px;
    }
}