.hospital-card {
    padding: 16px;
    border: none;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.hospital-card figure {
    border-radius: 8px;
    overflow: hidden;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.hospital-card .detail {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    padding: 12px 32px;
}

.hospital-card .icon {
    position: relative;
    top: 6px;
}

.hospital-card .icon {
    margin-right: 8px;
}


.hospital-card .mobile-link {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hospital-name {
    font-weight: 700;
}

@media screen and (max-width: 720px) {
    .hospital-card {
        display: block;
    }

    .hospital-card figure {
        width: 100%;
    }
}