.footer-deco {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.footer-deco .left-deco {
    background-image: -o-linear-gradient(355deg, #C8E6C9 0, #B3E5FC 110%);
    background-image: linear-gradient(95deg, #C8E6C9 0, #B3E5FC 110%);
}

.footer-deco .left-deco {
    position: absolute;
    left: -150px;
    top: -200px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    opacity: .2;
}

.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #3498db;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid #3498db;
}

ul.footer-sitemap {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: rgba(0, 0, 0, .54);
}

ul.footer-sitemap li {
    list-style: none;
    line-height: 32px;
}