.question {
    padding: 24px;
}

.question:not(:first-child) {
    border-top: solid 1px #e0e0e0;
}

.question-header {
    display: flex;
}

.question-avatar {
    padding-top: 16px;
    padding-right: 24px;
}

.question-sender {
    line-height: 1.64;
    font-size: 14px;
    margin-bottom: 4px;
}

.question-body {
    margin-bottom: 8px;
}

.question-header.answer {
    border: 1px solid #dbdada;
    padding: 16px;
    margin-left: 79px;
    margin-top: 24px;
    border-radius: 12px;
}

.question-title-header {
    font-size: 1.2rem;
    font-weight: 700;
}

.hospital-info {
    font-size: 0.9rem;
    color: #6c6c6c;
    padding-left: 12px;
    padding-top: 12px;
}

.question-time {
    color: #555555;
}

.question-doctor {
    font-size: 12px;
    margin-bottom: 24px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #3570d2;
}

.question-title {
    font-weight: 700;
    line-height: 1.31;
    margin-bottom: 4px;
}

.question-meta {
    flex-grow: 1;
}

.question-info {
    float: right;
    text-align: right;
    font-size: 14px;
    width: 200px;
}

.profile-avatar {
    border-radius: 50%;
    background-color: #e6e6e6;
    width: 56px;
    height: 56px;
    background-size: cover;
    vertical-align: middle;
    line-height: 56px;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.profile-avatar-doctor {
    margin-right: 32px;
    position: relative;
    top: -29px;
    left: 31px;
    border-radius: 50%;
    background-color: #e6e6e6;
    width: 40px;
    height: 40px;
    background-size: cover;
    vertical-align: middle;
    line-height: 56px;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border: solid 2px #ffffff;
}