:root {
  --heading-font: "Lato", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

body {
  font-family: var(--body-font);
  color: #444444;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 900;
}

.heading-subtitle {
  margin-bottom: 32px;
}

section {
  padding-top: 84px;
  padding-bottom: 48px;
}

.navbar-brand span {
  font-size: 1.4rem;
  font-weight: 700;
  padding-left: 12px;
  letter-spacing: -1px;
}

#services {
  background-color: #f3f9fd;
}

#mainHeader {
  z-index: 98;
  transition: all 0.5s;
  padding: 22px 0;
  background: #fff;
}

#mainHeader.header-scrolled {
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  padding: 12px 0;
}

.navbar li {
  padding: 0 8px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #3498db;
}

.navbar a,
.navbar a:focus,
.navbar button,
.navbar button:focus{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  color: #555555;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar-brand img {
  height: 40px;
}

.services h3 {
  color: #3498db;
  font-size: 1.4rem;
  display: block;
  font-weight: 900;
  margin-bottom: 0;
}

.services p {
  font-size: 0.8rem;
  color: #555555;
}

.service-img {
  width: 42px;
}

.heading-title {
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 72px;
  margin-bottom: 0;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  transition: box-shadow .25s;
  border-radius: 2px;
  -webkit-box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
  box-shadow: 0 1.5px 12px 2px rgb(0 0 0 / 6%);
  border: 0;
}

.nav-link.active {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link.active {
  padding-left: 24px;
}

.nav-link a {
  position: relative;
}

.nav-link:after {
  content: "";
  border-bottom: 6px solid #fff;
  border-radius: 3px;
  width: 0%;
  position: absolute;
  bottom: 8px;
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0.16, 0.21, 0.93);
  -o-transition: all 0.2s cubic-bezier(0.42, 0.16, 0.21, 0.93);
  transition: all 0.2s cubic-bezier(0.42, 0.16, 0.21, 0.93);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.nav-link.active:after {
  border-bottom-color: #3498db;
  width: 40px;
}


.navbar .login,
.navbar .login:focus {
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

#footer {
  padding: 84px 0;
  color: #222222;
  font-size: 14px;
  position: relative;
  background-color: #f4f9fd;
}

.contact-about {
  padding-right: 32px;
}

.contact-logo img {
  width: 42px;
}

.contact-about p {
  color: rgba(0, 0, 0, .54);
  margin: 16px 0 16px 0;
  font-size: .875rem !important;
  font-weight: 400;
  letter-spacing: .0178571429em !important;
  line-height: 1.25rem;
}

.navbar-toggler {
  border: 0;
}

@media (min-width: 1024px) {
  #banner {
      background-attachment: fixed;
      width: 100%;
      height: 70vh;
      margin-top: 70px;
  }
}

@media screen and (max-width: 720px) {
  section {
      padding-left: 24px;
      padding-right: 24px;
  }

  .article-card .figure {
      width: 120px;
      height: 120px;
  }

  #footer {
      padding-left: 24px;
      padding-right: 24px;
  }

  .contact-about {
      margin-bottom: 48px;
  }

  .social-links {
      text-align: center;
  }

  .nav-link:after {
      display: none;
  }

  .nav-link.active {
      color: #3498db !important;
  }

  .navbar .login {
      margin-left: 0;
      text-align: center;
      justify-content: center;
      margin-top: 24px;
  }
  .hospital-card{
      flex-direction: column;
  }
  .hospital-card figure, .hospital-card figure img{
      width: 100%;
  }
}