#banner h1 {
    margin: 0 0 24px 0;
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 56px;
    color: black;
}

#banner h2 {
    color: #484848;
    margin-bottom: 62px;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 700;
}

#banner a {
    font-weight: 900;
    font-family: var(--heading-font);
    font-size: 1rem;
}